.moviewrapper{
    display: flex;
    flex-direction: column;    
    border: 1px solid rgba(156, 156, 156, 0.103);
    margin: 0.5rem 0.2rem;
    border-radius: .25rem;
    cursor: pointer;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.moviewrapper:hover{    
    transform: scale(1.01);
}

.img__wrapper{
    width: 750px;
    height: 400px;
    object-fit: contain;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    text-align: center;
    padding: 0.5rem;        
}

.about__wrapper{
    
    overflow-y: auto;
    padding: 0.5rem 1rem;

}

.sc3::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .sc3::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .sc3::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  
.overview{
    text-align: center;
    word-break: normal;
}

.score{
    position: absolute;
    margin-top: -2.5rem;
    width: 30px;
    text-align: center;
    color: #FFF;
    margin-left: -1rem;
    background-color: rgb(44, 44, 44);
    padding: .2rem;
}


.modalDiv{
   width: 100%;
   height: 100%;
}

.modalImg{
    margin-top: 1rem;
    width: 700px;
    height: 300px;
}

.modalOverview{
    width: 700px;
    margin-top: 1rem;
}

.modalTitle{
    margin-top: 1rem;
}

.backBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.backBtn p{
    margin-left: .5rem;
}

.backBtn .icon{
    font-size: 1.5rem;
}